@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/css';
@import 'swiper/css/bundle';

@font-face {
    font-family: 'Nobile';
    src: url('../public/fonts/Nobile-Regular.ttf');
}

@layer base {
    .html {
        overflow: hidden;
    }
    .light-gradient {
        background: linear-gradient(
            180deg,
            #86bfcb,
            #596d97,
            #fae8eb,
            #ffb947,
            #ef8354
        );
        background-size: 1000% 1000%;

        -webkit-animation: light-gradient 32s ease infinite;
        -moz-animation: light-gradient 32s ease infinite;
        animation: light-gradient 32s ease infinite;
    }

    @-webkit-keyframes light-gradient {
        0% {
            background-position: 49% 0%;
        }
        50% {
            background-position: 52% 100%;
        }
        100% {
            background-position: 49% 0%;
        }
    }
    @-moz-keyframes light-gradient {
        0% {
            background-position: 49% 0%;
        }
        50% {
            background-position: 52% 100%;
        }
        100% {
            background-position: 49% 0%;
        }
    }
    @keyframes light-gradient {
        0% {
            background-position: 49% 0%;
        }
        50% {
            background-position: 52% 100%;
        }
        100% {
            background-position: 49% 0%;
        }
    }

    .dark-gradient {
        background: linear-gradient(
            180deg,
            #111827,
            #08415c,
            #596d97,
            #08415c,
            #072f40,
            #111827
        );
        background-size: 1200% 1200%;

        -webkit-animation: dark-gradient 43s ease infinite;
        -moz-animation: dark-gradient 43s ease infinite;
        animation: dark-gradient 43s ease infinite;
    }

    @-webkit-keyframes dark-gradient {
        0% {
            background-position: 0% 18%;
        }
        50% {
            background-position: 100% 83%;
        }
        100% {
            background-position: 0% 18%;
        }
    }
    @-moz-keyframes dark-gradient {
        0% {
            background-position: 0% 18%;
        }
        50% {
            background-position: 100% 83%;
        }
        100% {
            background-position: 0% 18%;
        }
    }
    @keyframes dark-gradient {
        0% {
            background-position: 0% 18%;
        }
        50% {
            background-position: 100% 83%;
        }
        100% {
            background-position: 0% 18%;
        }
    }

    #blob {
        background-color: white;
        height: 10vmax;
        width: 14vmax;
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        animation: rotate 20s infinite;
        opacity: 0.8;
        overflow: hidden;
        filter: blur(75px);
    }

    .blob-background-on-dark-theme {
        background: linear-gradient(to right, #f0eff4, #fae8eb);
    }

    .blob-background-on-light-theme {
        background: linear-gradient(to right, #000, #111827);
    }

    .active {
        transform: rotate(0deg) translateX(400%);
        transition: transform 0.5s;
    }

    .inheritedWidth {
        width: inherit;
        height: inherit;
    }

    .active {
        color: #192744;
        font-weight: 600;
    }

    .activeSongCard {
        transition: opacity 0.2s ease-in-out;
    }

    .fade-in {
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
    }

    :global(.swiper-pagination-bullet-active) {
        background-color: #f8cb6e !important;
    }

    .footer-grid-links p:hover {
        color: #f8cb6e;
        text-decoration: underline;
    }

    .skeleton-text {
        background-color: #192744;
        height: 8px;
        display: block;
        width: 100%;
        border-radius: 8px;
        margin-bottom: 4px;
    }

    .swiper-slide {
        width: auto !important;
        margin: auto;
        width: fit-content;
    }

    .swiper-wrapper {
        transform: translate3d(103px, 0px, 0px);
    }

    .svg-class:hover path {
        stroke: #f8cb6e;
    }

    .fade-in-active-song-card {
        opacity: 0;
        animation: fade-in 0.3s ease-in forwards;
    }

    .slide-button {
        margin: 8px;
        min-width: 40px;
    }

    .footer-image {
        background-image: url('../public/images/nicmic-piano.jpg');
    }

    .main-image {
        background-image: url('../public/images/nicmic-piano.jpg');
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes rotate {
        from {
            rotate: 0deg;
        }

        50% {
            scale: 1 1.5;
        }

        to {
            rotate: 360deg;
        }
    }
}

@layer components {
    :root {
        --swiper-pagination-color: theme(colors.nicmic-gold);
    }
}
