@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Montserrat';
    src: url('../public/fonts/Nobile-Regular.ttf');
}

@layer base {
    .html {
        overflow: hidden;
    }
    .light-gradient {
        background: linear-gradient(
            180deg,
            #86bfcb,
            #596d97,
            #fae8eb,
            #ffb947,
            #ef8354
        );
        background-size: 1000% 1000%;

        -webkit-animation: light-gradient 32s ease infinite;
        -moz-animation: light-gradient 32s ease infinite;
        animation: light-gradient 32s ease infinite;
    }

    @-webkit-keyframes light-gradient {
        0% {
            background-position: 49% 0%;
        }
        50% {
            background-position: 52% 100%;
        }
        100% {
            background-position: 49% 0%;
        }
    }
    @-moz-keyframes light-gradient {
        0% {
            background-position: 49% 0%;
        }
        50% {
            background-position: 52% 100%;
        }
        100% {
            background-position: 49% 0%;
        }
    }
    @keyframes light-gradient {
        0% {
            background-position: 49% 0%;
        }
        50% {
            background-position: 52% 100%;
        }
        100% {
            background-position: 49% 0%;
        }
    }

    .dark-gradient {
        background: linear-gradient(
            180deg,
            #111827,
            #08415c,
            #596d97,
            #08415c,
            #072f40,
            #111827
        );
        background-size: 1200% 1200%;

        -webkit-animation: dark-gradient 43s ease infinite;
        -moz-animation: dark-gradient 43s ease infinite;
        animation: dark-gradient 43s ease infinite;
    }

    @-webkit-keyframes dark-gradient {
        0% {
            background-position: 0% 18%;
        }
        50% {
            background-position: 100% 83%;
        }
        100% {
            background-position: 0% 18%;
        }
    }
    @-moz-keyframes dark-gradient {
        0% {
            background-position: 0% 18%;
        }
        50% {
            background-position: 100% 83%;
        }
        100% {
            background-position: 0% 18%;
        }
    }
    @keyframes dark-gradient {
        0% {
            background-position: 0% 18%;
        }
        50% {
            background-position: 100% 83%;
        }
        100% {
            background-position: 0% 18%;
        }
    }

    #blob {
        background-color: white;
        height: 10vmax;
        width: 14vmax;
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        border-radius: 50%;
        animation: rotate 20s infinite;
        opacity: 0.8;
        overflow: hidden;
        filter: blur(75px);
    }

    .blob-background-on-dark-theme {
        background: linear-gradient(to right, #f0eff4, #fae8eb);
    }

    .blob-background-on-light-theme {
        background: linear-gradient(to right, #000, #111827);
    }

    .active {
        transform: rotate(0deg) translateX(400%);
        transition: transform 0.5s;
    }

    .inheritedWidth {
        width: inherit;
        height: inherit;
    }

    .active {
        color: #ffb947;
        font-weight: 600;
    }

    @keyframes rotate {
        from {
            rotate: 0deg;
        }

        50% {
            scale: 1 1.5;
        }

        to {
            rotate: 360deg;
        }
    }
}
